body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 80px;
    padding: 12px 15px;
    font-size: 100%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 350px;
    
    
}